#answerInput{
    width:100%;
    padding:15px;
    margin:20px 0;
    font-size:20px;
}

#feedback{
    margin-top:20px;
    font-size:22px;
    text-align:center;
}

.success{
    color:#00ff88;
}

.error{
    color:#ff4444;
}

#personText{
    font-size:24px;
    margin-top:15px;
}

#timeTitle{
    color:#00d9ff;
}

#levelText{
    margin-top:15px;
}
